/* Content Blocks */
.content-row {
	width: 100%;
}

/* Row Elements - with Titles */
.row-container {
	min-height: 12rem; // temporary
	padding: $container-padding;
}

.row-title {
	font-weight: 400;
  color: $dark-grey;
  display: flex;
  flex: 1;

	&:after {
		content: '';
		background: $base-grey;
		margin-left: $font-regular;
    display: inline-flex;
    height: 2px;
    width: 100%;
    flex: 1;
    align-self: center;
	}
}

.row-content {
	margin-top: $font-regular;
	display: flex;
	justify-content: space-between;
}
