.jumbovision {
	background: $base-amethyst;
	min-height: 16rem;
	width: 100%;
	box-shadow: $small-shadow;
	position: relative;
	/* 
	 * overrides for Bootstrap 
	 */
	.display-4 {
		color: #fff;
		font-weight: 200;
		font-size: 2.4rem;
		text-align: center;
		/* Absolute Centering method */
		width: 50%;
		height: 50%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	/* 
	 * Show menu button 
	 */
	.show-menu-button {
		position: absolute;
		bottom: 15px;
		left: 25px;
	}
}