@import 'variables';
@import 'container';
@import 'nav';
@import 'avatar';
@import 'search';
@import 'jumbovision';
@import 'breadcrumb';
@import 'button';
@import 'dashboard';
@import 'sidebar';
@import 'filters';


/* General */
html, body {
	background: #f9f9f9;
	font-family: $font-family;
}

/* Content Blocks */
.content-row {
	width: 100%;
}