/* Nav */
.nav {
	padding: 15px 25px;
	background-color: #fff;
	border-bottom: 1px solid #854ae3;

	.nav-title {
		font-family: $font-family;
		letter-spacing: 0.15rem;
		color: $base-orange;
	}

	.nav-items {   
		
		.nav-item {
			padding-left: 3.5rem;
			display: inline-block;

			.nav-item-title {			
				display: inline-block;
				color: $base-grey;
				font-size: 0.85rem;
				font-weight: 500;
				padding-left: 0.5rem;
			}
		}
	}
	
	.nav-left {float: left;}
	.nav-right {float: right;}
	
	.avatar {
		display: inline-block;
		vertical-align: bottom;
	}

	.glyphicon {
		color: $base-orange;		
		align-self: center;

		&:last-child() {
			padding-right: 0;
		}
	}
}

