.search-button {	

	&.glyphicon {
		// padding: 0 0.5rem;
	}
}

.search-box {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid grey;
	outline: none;
	width: 0;
	transition: all 0.25s ease-in-out;

	&:focus {
		width: 8rem;
		outline: none;
	}
	&.on {
	}

}